<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Typing App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div class="container">
				<br> <br>
				<div class="card">
					<div class="card-content">
						<p class="title words">
							<span v-for="(w,index) in words" :item-index="index" :class="{correct:isCorrect(w), wrong : isWrong(w)}">{{ w.text }}</span>
						</p>
					</div>
				</div>
				<br>
				<div class="columns">
					<div class="column is-3">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
								Component
								</p>
								<a class="card-header-icon">
									<span class="icon">
										<i class="fa fa-angle-down"></i>
									</span>
								</a>
							</header>
							<div class="card-content">
								<div class="content">
									<a class="panel-block is-active">
									    <span class="panel-icon">
									      <i class="fa fa-book"></i>
									    </span>
									    bulma
									  </a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-6">
						<div class="field has-addons">
							<p class="control is-expanded">
							  <input class="input is-fullwidth is-center" @keyup="typing" v-model="currentWord" style="text-align: center" :class="{'is-danger':typingError}" type="text" placeholder="Type Here....">
							  <p class="control">
							      <a class="button is-primary" @click="reset">
								    	<span class="icon">
								     		 <i class="fa fa-refresh"></i>
								    	</span>
								    	<span>Reset</span>
									</a>
								</p>
							</p>
						</div>
					</div>
					<div class="column is-3">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
								Statistics
								</p>
							</header>
							<div class="card-content">
								<div class="content">
									<a class="panel-block is-active">
									    <span class="panel-icon">
									      <i class="fa fa-exclamation-triangle"></i>
									    </span>
									    Wrong: {{ wrong.length }}
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			var app = new Vue({
				el : '#app',
				data : {
					words : [],
					wrong : [],
					currentIndex : 0,
					currentWord : '',
					typingError : false
				},
				mounted : function(){
					this.loadData();
				},
				methods : {
					typing : function(e){
						if (e.keyCode == 32) {
							if (this.words[this.currentIndex].text + ' ' == this.currentWord) {
								this.words[this.currentIndex].action = 'correct';
							}else{
								this.wrong[(this.wrong.length)] = this.words[this.currentIndex];
								this.words[this.currentIndex].action = 'wrong';
							}
							this.currentWord = '';
							this.currentIndex = this.currentIndex + 1;
						}
						// if(this.words[this.currentIndex].text){

						// }
						
					},
					isCorrect : function(value){
						return value.action == 'correct';
					},
					isWrong : function(value){
						return value.action == 'wrong';
					},
					loadData : function(){
						axios.get('./scripts/data.json').then((response) => {
							this.words = response.data.words;
						});
					},
					reset : function(){
						this.loadData();
					}
				}
			});
		</script>
	</body>
</html>