<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Typing App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div class="container">
				<br>
				<div class="card">
					<div class="card-content">
						<p class="title words">
							<span v-for="(w,index) in words" class="word" :item-index="index" :class="{correct:isCorrect(w), wrong : isWrong(w), typing : isTyping(w), isTypingError : isTypingError(w)}">{{ w.text }}</span>
						</p>
					</div>
				</div>
				<br>
				<div class="columns">
					<div class="column is-3">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
									Error Log
								</p>
							</header>
							<div class="card-content">
								<div class="content">
									<a class="panel-block is-error is-active" v-for="wr in wrong">
									    <span class="panel-icon is-error-color">
									      <i class="fa fa-frown-o"></i>
									    </span>
									    <span class="is-error-color" style="margin-right: 5px">{{ wr.wrong }} </span> : <span class="success-log"> {{ wr.correct }}</span>
									</a>
									<a class="panel-block is-active" v-if="wrong.length == 0">
									    <span class="panel-icon">
									      <i class="fa fa-smile-o"></i>
									    </span>
									    Hurray your entry is 100% correct
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="column is-6">
						<div class="field has-addons">
							<p class="control is-expanded">
							  <input class="input is-fullwidth is-center" @keyup="typing" v-model="currentWord" style="text-align: center" :class="{'is-danger':typingError}" :disabled="disabled" type="text" placeholder="Type Here....">
							  <p class="control">
							      <a class="button is-primary" @click="reset">
								    	<span class="icon">
								     		 <i class="fa fa-refresh"></i>
								    	</span>
								    	<span>Reset</span>
									</a>
								</p>
							</p>
						</div>
						<br>
						<div class="card">
							<div class="card-content">
								<p class="title has-text-centered is-bold ">
									Word Per Minute <strong>{{ wpmCount }}</strong> WPM
								</p>
							</div>
						</div>
					</div>
					<div class="column is-3">
						<div class="card">
							<header class="card-header">
								<p class="card-header-title">
								Statistics
								</p>
							</header>
							<div class="card-content">
								<div class="content">
									<a class="panel-block" :class="{'is-active' : started}">
									    <span class="panel-icon">
									      <i class="fa fa-clock-o"></i>
									    </span>
									    Time: {{minutes}} : {{ seconds }}
									</a>
									<a class="panel-block is-error" :class="{'is-active' : started}">
									    <span class="panel-icon is-error-color">
									      <i class="fa fa-exclamation-triangle"></i>
									    </span>
									    Wrong: {{ wrong.length }}
									</a>
									<a class="panel-block" :class="{'is-active' : started}">
									    <span class="panel-icon">
									      <i class="fa fa-check"></i>
									    </span>
									    Correct: {{ correct.length }}
									</a>
									<a class="panel-block" :class="{'is-active' : started}">
									    <span class="panel-icon">
									      <i class="fa fa-keyboard-o"></i>
									    </span>
									    Keystrokes: <span style="margin: 0 5px" class="is-error-color">{{ wrongKeyStrokes }}</span> - <span class="success-log">{{ correctKeyStrokes }}</span>
									</a>
									<a class="panel-block" :class="{'is-active' : started}">
									    <span class="panel-icon">
									      <i class="fa fa-bolt"></i>
									    </span>
									    Accuracy: {{ Math.round((100 * correctKeyStrokes) / (wrongKeyStrokes + correctKeyStrokes)) }} %
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-content">
						<p class="title words">
							<span class="word">Created By: <a target="_blank" href="https://www.facebook.com/mehedimi">MD Mehedi Hasan</a></span>
						</p>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			var app = new Vue({
				el : '#app',
				data : {
					words : [],
					wrong : [],
					correct : [],
					currentIndex : 0,
					currentWord : '',
					typingError : false,
					// Timer
					minutes : 1,
					seconds : 0,
					started : false,
					timer : null,
					disabled : false,
					wrongKeyStrokes : 0,
					correctKeyStrokes : 0,
					wpmCount : 0,
				},
				mounted : function(){
					this.loadData();
					this.$on('startTimer', function(){
						var startSecond = Math.floor(Date.now() / 1000);
						this.timer = setInterval(() => {
							if (this.seconds == 0) {
								this.seconds = 60;
								this.minutes--;
							}
					       this.seconds--;
					       if (this.seconds == 0 && this.minutes == 0) {
					       		this.$emit('endTimer');
					       		this.started = false;
					       		this.minutes = 1;
					       }
					       var typingMinute = (Math.floor(Date.now() / 1000) - startSecond) / 60;
					       this.wpmCount = Math.floor((this.correctKeyStrokes / 5) / typingMinute);
					    },1000);
					});
					this.$on('endTimer', function(){
						clearInterval(this.timer);
						this.disabled = true;
					});
				},
				methods : {
					typing : function(e){
						if (this.currentIndex == 0) {
							if (this.started == false) {
								this.$emit('startTimer');
								this.started = true;
							}				
							this.words[this.currentIndex].action = 'typing';
						}
						if(!this.fuzzyComparison(this.words[this.currentIndex].text + ' ', this.currentWord + '*')){
							this.words[this.currentIndex].action = 'typingError';
						}else{
							this.words[this.currentIndex].action = 'typing';
						}
						if (e.keyCode == 32) {
							if(this.words[(this.currentIndex + 1)] === undefined){
								this.disabled = true;
								this.$emit('endTimer');
								alert("Congratulation! Job Done!");
								return;
							}
							this.words[(this.currentIndex + 1)].action = 'typing';

							if (this.words[this.currentIndex].text + ' ' == this.currentWord) {
								this.words[this.currentIndex].action = 'correct';
								this.correct.push(this.words[this.currentIndex]);
								this.correctKeyStrokes = (this.correctKeyStrokes + this.words[this.currentIndex].text.length);
							}else{
								this.wrong.push({
												"correct" : this.words[this.currentIndex].text,
												"wrong" : this.currentWord
											});
								this.words[this.currentIndex].action = 'wrong';
								this.wrongKeyStrokes = (this.wrongKeyStrokes + this.words[this.currentIndex].text.length);
							}
							this.currentWord = '';
							this.currentIndex = this.currentIndex + 1;
							
						}
						
					},
					isCorrect : function(value){
						return value.action == 'correct';
					},
					isWrong : function(value){
						return value.action == 'wrong';
					},
					isTyping : function(value){
						return value.action == 'typing';
					},
					isTypingError : function(value){
						return value.action == 'typingError'
					},
					loadData : function(){
						axios.get('./scripts/data.json').then((response) => {
							this.words = response.data.words;
						});
					},
					reset : function(){
						this.loadData();
						this.wrong = [];
						this.correct = [];
						this.currentIndex = 0;
						this.currentWord = '';
						this.typingError = false;
						// Timer
						this.minutes = 1;
						this.seconds = 0;
						this.started = false;
						this.timer = null;
						this.disabled = false;
						this.wrongKeyStrokes = 0;
						this.correctKeyStrokes = 0;
						this.wpmCount = 0;
					},
					escapeRegExp : function(str){
						return str.replace(/[\-\[\]\/\{\}\(\)\+\?\.\\\^\$\|]/g, "\\$&");
					},
					fuzzyComparison : function(str, mask){
						var regex = '^' + this.escapeRegExp(mask).replace(/\*/, '.*') + '$';
					    var r = new RegExp(regex);
					    return r.test(str);
					}
				}
			});
		</script>
	</body>
</html>