<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Typing App</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<div id="app">
			<div class="container">
				<br> <br> <br> <br>
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading"><h2 style="margin:0">World List</h2></div>
							<div class="panel-body">
								<div class="words">
									<span v-for="(w,index) in words" :item-index="index" :class="{correct:isCorrect(w), wrong : isWrong()}">{{ w.text }}</span>
								</div>
							</div>
						</div>
					</div> <br> <br> <br> 
					<div class="col-md-6 col-md-offset-3">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="input-group input-group-lg">
									<span class="input-group-addon" id="sizing-addon1">@</span>
									<input type="text" class="form-control" @keyup="typing" v-model="currentWord" id="type-box" placeholder="Type here">
									<span class="input-group-btn">
								        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-refresh"></span></button>
								    </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
			var app = new Vue({
				el : '#app',
				data : {
					words : [],
					wrong : [],
					currentIndex : 0,
					currentWord : ''
				},
				mounted : function(){
					axios.get('./scripts/data.json').then((response) => {
						this.words = response.data.words;
					});
				},
				methods : {
					typing : function(e){
						if (e.keyCode == 32) {
							this.currentIndex = this.currentIndex + 1;
							this.words[this.currentIndex].action = 'correct';
						}
						
					},
					isCorrect : function(value){
						return value.action == 'correct'
					},
					isWrong : function(){

					}
				}
			});
		</script>
	</body>
</html>