.words{
	font-size:40px;
}
.words span{
	display: inline-block;
	padding: 0 5px;
	background-color: #ddd;
}
.words .correct{
	background-color: #1abc9c;
	color : #fff;
}
.words .typing{
	background-color: #fff;
	position: relative;
}
.words .typing:after{
	content : '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height:2px;
	background-color: #16a085;
	left:0;
	animation-name:pulse;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.words .wrong{
	background-color: #e74c3c;
	color: #fff;
}
@keyframes pulse{
	0%{
		opacity: 0;
	},
	100%{
		opacity: 1
	}
}