.words{
	font-size:40px;
}
.words span{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 500;
    border-radius: 10px;
}
.words .correct{
	color : #1abc9c;
}
.words .typing{
	background-color: #ddd;
	position: relative;
}
.is-error.is-active{
	border-left-color:#E74C3C 
}
.is-error.is-active .panel-block.is-active .panel-icon{
	color: #E74C3C;
}
.words .wrong{
	color: #e74c3c;
}
