.words{
	font-size:40px;
}
.words span{
    display: inline-block;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 500;
    border-radius: 4px;
}
.words .correct{
	color : #1abc9c;
}
.words .typing{
	background-color: #95a5a6;
	position: relative;
	color:#fff
}
.is-error.is-active{
	border-left-color:#E74C3C 
}
.panel-block.is-active .is-error-color{
	color: #E74C3C;
}
.words .wrong{
	color: #e74c3c;
}
.input{
	border-width:2px;
	box-shadow:none;
}
.inline-block{
	display: inline-block;
}
.success-log{
	margin-left: 5px;
	color: #00d1b2
}
